<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adivina la cancion</title>
    <meta name="google-adsense-account" content="ca-pub-2366776826018395">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2366776826018395"
     crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        .container {
            text-align: center;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            padding: 10px;
            width: 100%; /* Asegura que la barra ocupa el ancho completo */
            position: fixed; /* Fija la barra en la parte superior */
            top: 0;
            left: 0;
            z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
        }
        .navbar a {
            color: #fff;
            text-decoration: none;
        }
        .navbar img {
            height: 35px; /* Ajusta el tamaño de la imagen según sea necesario */
        }
        .right{
            margin-right: 1rem;
        }
        h1{
            color:white;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="left">
            <h1>Beat Quest</h1>
        </div>
        <div class="right">
            <!-- Enlace a la imagen alineada a la derecha -->
            <a href="/" target="_blank">
                <img src="interrogante.png" alt="enlaces">
            </a>
        </div>
    </div>

    <div class="container">
        <iframe style="border-radius:12px"  src="<%= url %>"  width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>        
    </div>
</body>
</html>
