<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeatQuest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2366776826018395"
        crossorigin="anonymous"></script>

        <link rel="preload" href="fondo1.svg" as="image">
        <link rel="preload" href="fondo2.svg" as="image">
    <style>
       


        @keyframes changeBackground {
            0% {
                background-image: url("fondo1.svg");
            }
            50% {
                background-image: url("fondo1.svg");
            }
            100% {
                background-image: url("fondo2.svg");
            }
        }

        .descarga::before{
            background-image: url("fondo1.svg"), url("fondo2.svg");
        }
        .descarga{
            height: 35rem;
            border-style: solid;
            border-width: 5px;
             
            animation: changeBackground 3s infinite alternate; /* Duración y alternancia de la animación */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
            
        }
        #downloadBtn{
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
            background-size: 200% 200%; /* Hacemos que el fondo sea más grande para moverlo */
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-position 2s ease, transform 1s ease;

        }
        #downloadBtn:hover {
            background-position: 100% 0;
            transform: scale(1.1);

        }
        
        .flecha{
            height: 100px;
            width: 100px;
                    
        }
        #flechaApunta{
            height: 50px;
            width: 50px;
            position: relative;
            animation: bajar 3s ease-in-out infinite;
            
        }
       
        @keyframes bajar {
            0%{
                top:10px;
            }
           
            50%{
                top: 50px;;
            }
          
            100%{
                top: 10px;
            }
        }

        .btn-gradient-1 {
      background: linear-gradient(45deg, #ff7e5f, #feb47b);
      color: white;
      border: none;
    }

    .btn-gradient-2 {
      background: linear-gradient(45deg, #6a11cb, #2575fc);
      color: white;
      border: none;
    }

    .btn-gradient-3 {
      background: linear-gradient(45deg, #ff9a9e, #fad0c4);
      color: white;
      border: none;
    }

    .btn-gradient-4 {
      background: linear-gradient(45deg, #43cea2, #185a9d);
      color: white;
      border: none;
    }

    /* Hover Effects */
    .btn-gradient-1:hover {
      background: linear-gradient(45deg, #feb47b, #ff7e5f);
    }

    .btn-gradient-2:hover {
      background: linear-gradient(45deg, #2575fc, #6a11cb);
    }

    .btn-gradient-3:hover {
      background: linear-gradient(45deg, #fad0c4, #ff9a9e);
    }

    .btn-gradient-4:hover {
      background: linear-gradient(45deg, #185a9d, #43cea2);
    }
    .btn{
        height: 8rem;
    }


    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar bg-dark">
        <div class="container-fluid">
            <!-- Texto a la izquierda -->
            <span class="navbar-text text-white"></span>
            <h1 class="text-white">BeatQuest</h1>
            </span>


            <div class="d-flex ms-auto">
                <a class="navbar-brand" href="#">
                    <img src="interrogante.png" alt="Logo" class="d-inline-block align-text-top" style="height: 35px;">
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <main class="mt-3">
            <div class="row mb-3">
                
                <div class="col-lg-3 col-6">
                    <button class="btn btn-gradient-1 w-100 p-2"><h3>Instrucciones</h3></button>
                </div>
                <div class="col-lg-3 col-6">
                    <button class="btn btn-gradient-2 w-100 p-2"><h3>Instrucciones</h3></button>
                </div>
                <div class="col-lg-3 col-6">
                    <button class="btn btn-gradient-3 w-100 p-2"><h3>Instrucciones</h3></button>
                </div>
                <div class="col-lg-3 col-6">
                    <button class="btn btn-gradient-4 w-100 p-2"><h3>Comprar nuestros productos</h3></button>
                </div>
                  
            </div>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            ¿Quienes somos?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong> Somos Alpaca Company </strong> <br><br>

                                Somos Alpaca Company, una pequeña empresa de reciente creación, dedicada a la innovación en el mundo de los juegos de mesa. Nuestro objetivo es fusionar lo mejor de las aplicaciones digitales con el mundo físico para crear experiencias de juego únicas y envolventes. Nos apasiona la idea de que la tecnología no solo puede entretener, sino también fomentar la socialización y la conexión entre personas de todas las edades.<br><br>

                                En Alpaca Company, creemos que los juegos de mesa pueden ser una poderosa herramienta para unir a niños, jóvenes y adultos, ofreciendo una alternativa divertida y educativa al entretenimiento digital tradicional. A través de nuestras propuestas, buscamos no solo entretener, sino también desarrollar habilidades sociales, estratégicas y cognitivas, todo ello mientras promovemos el uso responsable y creativo de la tecnología.<br><br>

                                Nuestros juegos están diseñados para ofrecer experiencias interactivas que integran elementos físicos y digitales de manera innovadora. Ya sea utilizando aplicaciones móviles que complementan la experiencia de juego o creando tableros y piezas que interactúan con dispositivos electrónicos, nuestro enfoque está en llevar la diversión al siguiente nivel, respetando la esencia de los juegos de mesa tradicionales.<br><br>

                                En Alpaca Company, nos esforzamos por ser más que un simple creador de juegos. Queremos ser un puente entre lo tradicional y lo moderno, ofreciendo a nuestros jugadores nuevas formas de conectar, aprender y, sobre todo, disfrutar juntos. Únete a nosotros en este emocionante viaje hacia el futuro de los juegos de mesa.<br>
                                                        
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Contáctanos
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>¿Dónde puedes encontrarnos?</strong><br><br>
                            Actualmente, no contamos con una sede física. Sin embargo, a medida que nuestra empresa crezca, planeamos establecer una ubicación presencial. Mientras tanto, estamos a tu disposición a través del correo electrónico: <a href="mailto:informacion@beatquest.alpaca.com">informacion@beatquest.alpaca.com</a>. ¡No dudes en contactarnos!
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ¿Dónde puedo comprar vuestro juego?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Actualmente, el juego no está disponible para la compra.</strong><br><br>
                            Estamos trabajando arduamente para lanzarlo próximamente. Cuando esté disponible, podrás adquirirlo por $15 más los costes de envío. Además, también ofreceremos expansiones únicas y la oportunidad de darnos tu feedback. ¡Mantente atento para no perderte ninguna novedad!
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            ¿Puedo solicitar modificaciones al juego?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>¡Por supuesto!</strong><br><br>
                            En Alpaca Company, podemos personalizar el juego para ti por un costo adicional. Podemos incorporar canciones, temáticas, géneros o cualquier otro contenido que prefieras. No dudes en ponerte en contacto con nosotros para obtener más información sobre cómo personalizar tu experiencia de juego.
                        </div>
                    </div>
                    
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            ¿Que canciones tenemos?
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Actualmente el juego contien 120 canciones </strong><br><br>
                            Aunque actualmente el juego solo contiene 120 canciones posemes la sigueinte cantidad de canciones añadidas 
                            <a href="/listarcanciones"> CANCIONES </a>
                        </div>
                    </div>
                    
                </div>
                
            </div>

            <div class="d-flex align-items-center justify-content-center mt-3 descarga">
                <div class="row text-center justify-content-center">
                    <div class="col-12">
                        <h2 class="mb-3 text-white">Descarga nuestra app oficial</h2>
                    </div>
                    <div class="arrow"></div>
             
                    <div class="col-12 flecha">
                       <img id="flechaApunta" src="flecha.png">
                    </div>
                    <div class="col-12">
                        <button id="downloadBtn" class="btn btn-primary">Descargar APK</button>
                    </div>
                </div>
            </div>
            
            

        </main>
    </div>


    <footer>
        <p>&copy; 2024 BeatQuest Web. Todos los derechos reservados.</p>
    </footer>
</body>
<script>
    document.getElementById("downloadBtn").addEventListener("click", function() {
        var link = document.createElement("a");
        link.href = "BeatQuest.apk"; // Cambia esta ruta por la URL de tu APK
        link.download = "BeatQuest.apk"; // Nombre del archivo a descargar
        link.click();
    });
</script>

</html>
