<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BeatQuest</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="mt-2">Instrucciones del juego</h1>
         
            <div class="row">
                <div class="col-lg-10 col-8">
                    <h3 class="mt-3">Principio del juego</h3>
                    <p>Cada jugador roba una carta el mazo al inicio de la partida y la enseña posicionandola como primera carta del juego. Las cartas representan canciones de distintos años</p>
                </div>
                <div class="col-lg-2 col-4 d-flex justify-content-center align-items-center">
                    <img src="cartaE1.png" alt="Logo" class="d-inline-block align-text-top w-100" >
                </div>
            </div>
            
            <h3 class="mt-3">Juego por turnos</h3>
            <p> El juego se juega por turnos. En cada turno, un jugador roba una nueva del mazo</p>

            <div class="row">
                <div class="col-lg-10 col-8">
                    <h3 class="mt-3">Escanea y escucha</h3>
                    <p>Durante el turno, otro jugador deberá escanear el código QR de tu carta utilizando nuestra app ofiicial. Al ecanearlo, la canción correpondiente sonara.
                        Escucha atentamente para intetar recordar a adivinar en qué año fue lanzada
                    </p>
                </div>
                <div class="col-lg-2 col-4 d-flex justify-content-center align-items-center">
                    <img src="cartaE2.png" alt="Logo" class="d-inline-block align-text-top w-100" >
                </div>
            </div>

            <h3 class="mt-3">Ordena por años</h3>
            <p>Tu objetivo es colocar tu carta en la fila de cartas previamente jugadas, en el lugar que creas correcto según el año de lanzamiento de la canción.
                Colócala al principio, al final o entre otras cartas, según corresponda.
            </p>
            <img src="cartaE4.png" alt="Logo" class="d-inline-block align-text-top w-100" >

            <h3 class="mt-3">Verificación</h3>
            <p>Cuando creas que has colocado la carta en el lugar correcto, gir la tarjeta para revelar el año de la cación. Si el año 
                está bien ubicado en la línea temporal, te quedas la carta añadiendola a la fila. Si no, tendrás que descartarla.
            </p>
            <img src="cartaE4.png" alt="Logo" class="d-inline-block align-text-top w-100" >
            <h3 class="mt-3"> Gana el Primer jugador con 10 cartas</h3>

            <h2> Acuerdate de descarga nuestra app oficial para mejorar la experiencia del juego y facilitar el Escaneo de las cartas</h2>
                        
        </div>
    </body>
</html>